* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

body {
    background: linear-gradient(90deg ,rgb(48, 12, 116) , rgb(9, 9, 124) ,rgb(105, 6, 105) 99%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.logo-side img {
    width: 80px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: rgba(10, 10, 10 , 20%);
    border-bottom: 1px solid rgba(128, 128, 128 , 40%);
    width: 100vw;
    height: 10vh;
}

.logo-side {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    font-family: "Silkscreen" , sans-serif;
    white-space: nowrap;
}

.nav {
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-column: 3;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.nav li {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 30px;
}