* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

body {
    background: linear-gradient(90deg ,rgb(48, 12, 116) , rgb(9, 9, 124) ,rgb(105, 6, 105) 99%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.logo-side img {
    width: 80px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: rgba(10, 10, 10 , 20%);
    border-bottom: 1px solid rgba(128, 128, 128 , 40%);
    width: 100vw;
    height: 10vh;
}

.logo-side {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    font-family: "Silkscreen" , sans-serif;
    white-space: nowrap;
}

.nav {
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-column: 3;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.nav li {
    background-color: rgb(24, 23, 23);
    padding: 5px 2em;
    font-size: 1.1em;
    border-radius: 30px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li::after {
    position: absolute;
    content: "";
    height: 110%;
    width: 106%;
    border-radius: 30px;
    background: linear-gradient(90deg ,rgb(104, 26, 250) , rgb(15, 15, 255) ,rgb(233, 12, 233));
    z-index: -1;
}

.nav li:hover {
    z-index: 0;
    box-shadow: 40px 0 100px rgb(163, 163, 163) , -40px 0 100px rgb(160, 160, 160);
}